@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

@layer base {
  :root {
    --color-primary: 194 145 164;
    --color-secondary: 143 107 121;
    --color-tertiary: 66 30 44;
    --color-playful: 204 92 135;
  }
}
